/* HeartAnimation.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Prend toute la hauteur de l'écran */
  background-image: url('../public/background.jpg'); /* Ajoutez votre image d'arrière-plan ici */
  background-size: cover; /* S'assure que l'image couvre tout l'écran */
  background-position: center; /* Centre l'image d'arrière-plan */
  color: white; /* Change la couleur du texte si nécessaire */
  text-align: center; /* Centre le texte */
}

